
    .box{
        width:1000px;
        height:600px;
        box-sizing:border-box;

        }

    .box1{
        width:480px;
        height:580px;
        }

   .box2{
        width:240px;
        height:285px;
        }

   

    .boxbackground{
        background-image:url('../picture.jpg');
        background-position:center;
        background-size:cover;
        border-radius:10px;  
        position:relative;
        float: left;
        margin:5px;
        overflow:hidden;

        }

      
    .word1{
        font-size:29px;
        color:white;
        
        }
    
    .word2{
        font-size:14px;
        color:white;
        position:absolute;
        bottom:0px;
        left:0px;
        padding:20px;

        }
    .word3{  
        font-size:17px;
        color:white;
        }
        
     

    .boxbackground::before {
        content: '';
        width: 100%;
        height: 50%;
        position: absolute;
        bottom: 0;
        left: 0;
        background-image:linear-gradient(180deg, rgba(0,0,0,0),rgba(0,0,0,0.8));
        }



    @media screen and (min-width: 400px) and (max-width:910px){

        .box{
            width:460px;
            margin-left:1px;
        }
        .box1{
           margin-left:1px;
            width:450px;
            height:285px;
        }

        .box2{
            margin-left:1px;
            width:450px;
        }
        .word1{
            font-size:14px;
        }

        .word3{
            font-size:0px;
        }


        }






