		.circular--squareP{
    		border-radius:50%;
    		width:30px;
    	}
    	a{
    		width: 200px;
    		color:white;
			background-color:#46a3ff;
			text-decoration:none
		}
		a{
			position:absolute;
			top:50%;
			left:50%;
			transform:translate(-50%,-50%)
		}
		.box{
    		width: 100px;
    		height: 100px;
    		background-color: gray;
	 	}
	 	.box2{
	 		float:right
	 	}
	 	.box3{
	 		float:left;
	 	}
