			.box{
				width:960px;
				height:auto;
				background-color:#f4f4f4;
				margin:auto;
			}


			.box-top{
				margin:80px;

			}

			.content-top{
				font-weight:lighter;
				font-size:28px;
				line-height:1.5;
				margin-bottom:30px;

			}

			.content-top-size1{
				font-size:40px;
			}

			.content-top-size2{
				font-weight:bold;
				margin-top:-30px
			}

			.box-mid{
				margin:60px 120px 10px 120px
			}

			.box-mid1{
				margin-top:65px;
				margin-bottom:65px;
				
			}

			.content-mid1{
				font-weight:normal;
				font-size:48px;
				margin-bottom:20px;

			}

			.content-mid2{
				font-weight:lighter;
				font-size:30px;
				margin-bottom:30px;

			}

			.content-mid3{
				font-weight:lighter;
				font-size:28px;
				margin-bottom:15px;
			}


			.box-bottom{	
				font-weight:lighter;
				font-size:28px;		
				line-height:2;
				margin-bottom:50px;
			}



			.box-footer{		
				width:960px;
				background-color:white;
				display:inline-block;
				margin-left:-120px;

			}


			.box-footer1{
				margin:55px;



			}
			.box-footer-top{
				text-align:center;
				margin:55px 210px 25px 210px;
			


			}

			.box-footer-bottom{
				margin:25px 210px 50px 210px;

			}


			.content-footer1{
				text-decoration:none;
				font-size:22px;
				font-weight:lighter;
				color:black;

			}

	

			.case{
				margin:0px 0px 25px 0px;
			}


			.order_info{
				width:250px;
			}
			.float-element{
				float:right;
			}


			.img-wid{
				width:100%
			}

			.img-mar{
				margin-left:-60px;
			}


			.img-fb{
				width:20px;
				height:20px;
				vertical-align:middle

			}

			.a-wid{
				width:210px;
			}

			.a-fb{
				margin-top:5px;	
				margin-bottom:10px;		

			}


